<<<<<<< HEAD
/* Tell the browser to render HTML 5 elements as block */
section,
header,
footer,
aside,
nav,
article {
  display: block;
}
=======
section, header, footer, aside, nav, article { display: block; }
>>>>>>> gimler-master
body {
  padding: 0;
  margin: 0 auto;
  width: 85%;
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 15px;
<<<<<<< HEAD
  background-color: #000;
  background: url("/static/images/head_spotlight.png") no-repeat 0px -50px, #232323 url("/static/images/bg_noise.gif") repeat;
}
.where img {
  width: 100%;
}
#admin {
  background-color: #FFFFFF;
  opacity: .3;
=======
  background-color: #000000;
  background: url("/static/images/head_spotlight.png") no-repeat 0px -50px, #232323 url("/static/images/bg_noise.gif") repeat;
}
.where img { width: 100%; }
#admin {
  background-color: #ffffff;
  opacity: 0.3;
>>>>>>> gimler-master
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
}
#active a {
  color: #00ff00;
  text-decoration: none;
}
nav ul {
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
  margin-top: 20px;
}
<<<<<<< HEAD
nav ul li, nav ul a {
=======
nav ul li {
  font-size: 28px;
  font-weight: normal;
  color: #ffffff;
  list-style: none;
  margin-right: 5px;
  display: inline;
}
nav ul a {
>>>>>>> gimler-master
  font-size: 28px;
  font-weight: normal;
  color: #ffffff;
  list-style: none;
  margin-right: 5px;
  display: inline;
}
nav ul .item {
  padding: 15px;
  margin: 15px;
}
#add {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #ffffff;
  background: -webkit-gradient(linear, left 28, left bottom, from(#ffffff), to(#797979));
  background: -moz-linear-gradient(top, #ffffff 28px, #797979);
  height: 45px;
}
#add a {
  margin-right: 0px;
  color: #000000;
  font-weight: bold;
  padding: 0 10px;
}
a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
<<<<<<< HEAD
a img {
  /*firefox remove borders*/

  border: 0;
}
a:hover {
  text-decoration: underline;
}
=======
a img { border: 0; }
a:hover { text-decoration: underline; }
>>>>>>> gimler-master
h1 {
  font-size: 28px;
  margin: 0px;
}
h1 a {
  font-size: 28px;
<<<<<<< HEAD
  color: #FFFFFF;
  text-decoration: none;
}
h1 a:hover {
  text-decoration: underline;
}
=======
  color: #ffffff;
  text-decoration: none;
}
h1 a:hover { text-decoration: underline; }
>>>>>>> gimler-master
h2 {
  font-size: 28px;
  line-height: 44px;
  display: inline;
}
h2 a {
  text-decoration: none;
  color: #000000;
}
h3 {
  font-size: 20px;
  line-height: 0;
}
<<<<<<< HEAD
#what p {
  margin-bottom: 5px;
}
#edit {
  background: #e2e2e2;
  color: #FFFFFF;
=======
#what p { margin-bottom: 5px; }
#edit {
  background: #e2e2e2;
  color: #ffffff;
>>>>>>> gimler-master
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 3px;
<<<<<<< HEAD
=======
  margin-left: 5px;
>>>>>>> gimler-master
}
#tagcloud {
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-decoration: none;
  line-height: 35px;
}
#tagcloud a {
  background: #000000;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-decoration: none;
  border: 1px solid grey;
}
<<<<<<< HEAD
#tagcloud a:hover {
  border: 1px solid #00ff00;
}
#tagcloud .selected {
  border: 1px solid #00ff00;
}
=======
#tagcloud a:hover { border: 1px solid #00ff00; }
#tagcloud .selected { border: 1px solid #00ff00; }
>>>>>>> gimler-master
#tags a {
  background: #000000;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-decoration: none;
  line-height: 40px;
}
<<<<<<< HEAD
#tags a:hover {
  border: 1px solid #00ff00;
}
#tags .selected {
  border: 1px solid #00ff00;
}
#top li a img {
  opacity: 0.5;
}
#top a:hover img {
  opacity: 0.7;
}
#top #logo {
  display: inline;
}
#top div {
  display: inline;
}
footer {
  width: 100%;
}
footer ul {
  margin-bottom: 8px;
}
footer ul li {
  margin-right: 10px;
}
=======
#tags a:hover { border: 1px solid #00ff00; }
#tags .selected { border: 1px solid #00ff00; }
#top li a img { opacity: 0.5; }
#top a:hover img { opacity: 0.7; }
#top #logo { display: inline; }
#top div { display: inline; }
footer { width: 100%; }
footer ul { margin-bottom: 8px; }
footer ul li { margin-right: 10px; }
>>>>>>> gimler-master
#content {
  background: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #000000;
}
.event {
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #ececec;
  padding: 10px 10px 10px 10px;
  display: block;
<<<<<<< HEAD
  /* HEADER */

}
.event h2 {
  font-size: 28px;
}
=======
}
.event h2 { font-size: 28px; }
>>>>>>> gimler-master
.event header {
  display: table;
  border-collapse: collapse;
  cursor: pointer;
}
<<<<<<< HEAD
.event .header-content {
  display: table-row;
}
.event .title,
.event .edit,
.event .show,
.event .date {
  display: table-cell;
}
.event .title {
  width: 100%;
}
.event .edit, .event .show {
=======
.event .header-content { display: table-row; }
.event .title { display: table-cell; }
.event .edit { display: table-cell; }
.event .show { display: table-cell; }
.event .date { display: table-cell; }
.event .title { width: 100%; }
.event .edit {
  padding-right: 5px;
  width: 100px;
}
.event .show {
>>>>>>> gimler-master
  padding-right: 5px;
  width: 100px;
}
.event .date {
  width: 100px;
  white-space: nowrap;
}
<<<<<<< HEAD
/* less compiler adds space when defined in nested .event */
.event:first-child {
  border-top: none;
}
.event:last-child {
  border-bottom: none;
}
.box {
  display: box;
  background: #e2e2e2;
  color: #000000;
=======
.event:first-child { border-top: none; }
.event:last-child { border-bottom: none; }
.box {
  display: box;
  background: #e2e2e2;
  color: #ffffff;
>>>>>>> gimler-master
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 3px;
<<<<<<< HEAD
  margin-left: 5px;
=======
>>>>>>> gimler-master
}
#twocol a {
  font-size: 28px;
  font-weight: normal;
  color: #ffffff;
}
<<<<<<< HEAD
#twocol ul {
  padding-left: 0px;
}
=======
#twocol ul { padding-left: 0px; }
>>>>>>> gimler-master
#twocol li {
  list-style: none;
  display: inline;
}
<<<<<<< HEAD
#twocol #left {
  float: left;
}
#twocol #right {
  float: right;
}
.last {
  border-bottom: 0px;
}
#create {
  padding: 5px 10px;
}
#create ul {
  list-style-type: none;
}
=======
#twocol #left { float: left; }
#twocol #right { float: right; }
.last { border-bottom: 0px; }
#create { padding: 5px 10px; }
#create ul { list-style-type: none; }
>>>>>>> gimler-master
#message {
  margin-top: 5px;
  border-bottom: 1px dotted #646464;
  padding: 15px;
}
<<<<<<< HEAD
#message ul {
  padding-left: 25px;
}
=======
#message ul { padding-left: 25px; }
>>>>>>> gimler-master
#message li {
  list-style: disc;
  margin-left: 0px;
}
#message p {
  margin-top: 0px;
  margin-bottom: 0px;
}
<<<<<<< HEAD
#message.bottom {
  border-bottom: none;
}
=======
#message.bottom { border-bottom: none; }
>>>>>>> gimler-master
.errorlist {
  color: #00ff00;
  background: #424242;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 5px;
}
label {
  width: 130px;
  display: inline;
  padding: 5px;
}
<<<<<<< HEAD
/* FORMS */
#create h3 {
  margin-top: 55px;
}
=======
#create h3 { margin-top: 55px; }
>>>>>>> gimler-master
.row {
  margin: 0 auto;
  max-width: 500px;
}
.form label {
  margin-left: 10px;
  color: #999999;
}
input, textarea {
  padding: 9px;
<<<<<<< HEAD
  border: solid 1px #E5E5E5;
=======
  border: solid 1px #e5e5e5;
>>>>>>> gimler-master
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  width: 90%;
  background: #ffffff url('bg_form.png') left top repeat-x;
  background: -webkit-gradient(linear, left top, left 25, from(#ffffff), color-stop(4%, #eeeeee), to(#ffffff));
  background: -moz-linear-gradient(top, #ffffff, #eeeeee 1px, #ffffff 25px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}
textarea {
  width: 90%;
  height: 150px;
  line-height: 150%;
}
#shortform input {
  width: 100px;
  margin-right: 10px;
}
<<<<<<< HEAD
input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border-color: #C9C9C9;
=======
input:hover {
  border-color: #c9c9c9;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}
textarea:hover {
  border-color: #c9c9c9;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}
input:focus {
  border-color: #c9c9c9;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}
textarea:focus {
  border-color: #c9c9c9;
>>>>>>> gimler-master
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}
<<<<<<< HEAD
.submit input {
  text-align: center;
  width: auto;
  padding: 9px 15px;
  background: red;
  border: 0;
  font-size: 14px;
  color: #00ff00;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#version span, #version a {
=======
.submit input { width: auto; }
#version span {
  font-size: 10px;
  color: #ffffff;
}
#version a {
>>>>>>> gimler-master
  font-size: 10px;
  color: #ffffff;
}
