{% extends "base.html" %}

{% block content %}
<section id="content">
	{% if organization_list %}
		{% for organization in organization_list %}
			<article class="event" id="more">
				<header>
					<h2>{{ organization.title }}</h2>
				</header>
				<section class="detail">
						<p class="description">
							<a href="{{ organization.url }}">{{ organization.url }}</a>
						</p>
						<p id="tags">
							{% for tag in organization.tags %}
								<a {% ifequal tag_name tag %}class="selected"{% endifequal %} href="/organizations/tags/{{ tag }}/">{{ tag }}</a>
							{% endfor %}
						</p>
				</section>
			 </article>
		{% endfor %}   
	{% else %}
		<section class="content">
			<p>Bitte Organisationen anhand der Tags unten auswählen.</p>
		</section>
	{% endif %} 
</section>

{% include "organizations/_tagcloud.html" %}

{% endblock %}