{% load web_tags %}
{% load media %}
<article class="event">
	<header> 
		<section class="header-content"> 
			<div class="title"> 
				<h2>{% if event.canceled %}[Abgesagt] {% endif %}<a id="{{ event.id }}_event"{% if event.canceled %} class="canceled"{% endif %} href="#event">{{ event.title }}</a></h2>
			</div> 
			{% if event.user == user or user.is_superuser %}
				<div class="edit"> 
					<div class="box">
					 	<a href="/events/edit/{{ event.id }}/">Ändern</a>
					 	<a href="/events/cancel/{{ event.id }}/">Absagen</a>
					 	<a href="/events/create/{{ event.id }}/">Kopieren</a>
					</div>
				</div>
			{% endif %}
			<div class="date">
				<div class="box">{{ event.get_date_time_begin_cet|display_date }} </div>
			</div> 
			{% if event.takes_more_than_one_day %}
			    <div class="date">
                    <div class="box">{{ event.getNumberOfDays }} Tage</div>
                </div> 
			{% endif %}
		</section>
	</header>
	<section class="detail{% if event.canceled %} canceled{% endif %}">
        <section>
            <div>
                <a href="{{ event.get_absolute_url }}">Link zu dieser Detailseite</a>
            </div>
        </section>
	    
		<section class="what">
			<h3>Was</h3>
				{{ event.description|linebreaks }} 
			<p class="description">  	
				<img src="{% media_url 'images/world_link.png' %}" > <a target="_blank" href="{{ event.url }}">Webseite des Veranstalters</a>
			</p>
        	<p class="ical">
				<img src="{% media_url 'images/date.png' %}" ><a href="/ical/{{ event.id }}.ics">iCal Export</a>
			</p>
			<p class="tags">
				{% for tag in event.tags %}
					<a {% ifequal tag_name tag %}class="selected"{% endifequal %} href="/events/tags/{{ tag }}/">{{ tag }}</a>
				{% endfor %}
			</p>
		</section> 
		<section class="when">
			<h3>Wann</h3>
			<p class="date">
				{{ event.get_date_time_begin_cet|display_date }}
				{% if event.get_date_time_end_cet %} bis
				  {% if event.getNumberOfDays > 1 %}
					   {{ event.get_date_time_end_cet|display_date }}
					{% else %}
					   {{ event.get_date_time_end_cet|time:"H:i" }}
					{% endif %}
				{% endif %}
			</p>
		</section>
		<section class="where" id="event{{ event.id }}">
		  {% if event.location.name and event.location.street and event.location.city %}
			<h3>Wo</h3>
				<p>	
					{{event.location.name}}, {{event.location.street}}, {{event.location.city}} <br><br>
					<a href="http://maps.google.de/maps?q={{event.location.street|urlencode}},{{ event.location.city|urlencode}},Bayern&z=17">Location in Google Maps anzeigen</a>
				</p>
			{% endif %}
		</section>
	</section> 
</article>
